<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos - Cuartel de Bomberos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/recursos.css">
    <link rel="icon" href="../img/index/iconos/logo.jpg">
    <title>Recursos - Cuartel de Bomberos</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../img/index/iconos/logo.jpg" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-ellipsis-h"></i>
                </button>                                               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Galería</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./templates/recursos.html">Recursos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Carrusel de imágenes y contenido -->
    <section class="carousel-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselContent">
                        <div class="content active">
                            <h2>Información sobre la primera imagen</h2>
                            <p>Esta es la descripción relacionada con la primera imagen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="../img/recursos/carrusel/info1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../img/recursos/carrusel/info2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../img/recursos/carrusel/info3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Secciones de recursos -->
    <section class="info-section">
        <div class="container">
            <div class="container-title">
                <h2>Recursos</h2>
            </div>
            <br>
            <h2>Informacion para Aspirantes</h2>
            <div class="resource-category">
                <h3>Enlaces de Interés</h3>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
            </div>
            <br>
            <h2>Partes del autobomba</h2>
            <div class="resource-category">
                <h3>Descargas PDF</h3>
                <ul>
                    <li><a href="#">PDF 1</a></li>
                    <li><a href="#">PDF 2</a></li>
                    <li><a href="#">PDF 3</a></li>
                </ul>
            </div>
            <br>
            <h2>Trajes</h2>
            <div class="resource-category">
                <h3>Enlaces de Interés</h3>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
            </div>
            <br>
            <h2>Herramientas</h2>
            <div class="resource-category">
                <h3>Enlaces de Interés</h3>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <p>Derechos de autor © 2024 Cuartel de Bomberos de Santa Rosa de Calamuchita.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#carouselExampleIndicators').on('slide.bs.carousel', function (e) {
                var index = $(e.relatedTarget).index();
                $('.content').removeClass('active');
                $('.content').eq(index).addClass('active');
                // También puedes cambiar el texto aquí en lugar de utilizar clases adicionales
                if (index === 0) {
                    $('.content h2').text('Información sobre la primera imagen');
                    $('.content p').text('Esta es la descripción relacionada con la primera imagen.');
                } else if (index === 1) {
                    $('.content h2').text('Información sobre la segunda imagen');
                    $('.content p').text('Esta es la descripción relacionada con la segunda imagen.');
                } else if (index === 2) {
                    $('.content h2').text('Información sobre la tercera imagen');
                    $('.content p').text('Esta es la descripción relacionada con la tercera imagen.');
                }
            });
        });
    </script>    
</body>
</html>
