/* Estilos personalizados para el cuartel de bomberos */

/* Colores del logo */
:root {
    --primary-color: #13293d;   /* Azul marino */
    --secondary-color: #ffffff; /* Verde */
    --tertiary-color: #e35e23;  /* Naranja */
    --quaternary-color: #252123; /* Negro */
    --gradient-colors: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-image: var(--gradient-colors);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand img {
    max-height: 50px;
    border-radius: 50%;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    color: white; 
}

/* Carrusel */
.carousel {
    width: 90%;
    margin: auto auto 50px;

}

.carousel-item img {
    width: 100%; /* Establece un ancho del 100% para las imágenes */
    height: 20%;
    object-fit: cover;
}

/* Secciones informativas */
.info-section {
    width: 85%;
    margin: auto auto 50px;
    padding: 50px 0;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    border: 2px solid var(--primary-color); 
    box-shadow: 20px 24px 28px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Agrega una transición suave a la sombra y al zoom */
}

.info-section:hover {
    box-shadow: 20px 24px 38px rgba(0, 0, 0, 0.7); /* Cambia la sombra de caja al pasar el mouse */
    transform: scale(1.05); /* Hace un pequeño zoom al pasar el mouse */
}

.info-section h2 {
    color: var(--primary-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a i{
    width: 40px;
    height: 40px;
}