/* Estilos personalizados para el cuartel de bomberos */

/* Colores del logo */
:root {
    --primary-color: #13293d;   /* Azul marino */
    --secondary-color: #ffffff; /* Verde */
    --tertiary-color: #e35e23;  /* Naranja */
    --quaternary-color: #252123; /* Negro */
    --gradient-colors: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-image: var(--gradient-colors);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand img {
    max-height: 50px;
    border-radius: 50%;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    color: white; 
}


/* Carrusel */
.carousel {
    width: 90%;
    height: 20%;
    margin: auto auto 50px;

}

.carousel-item img {
    width: 100%; /* Establece un ancho del 100% para las imágenes */
    height: 20%;
    object-fit: cover;
}


/* Estilos para la sección de recursos */
.info-section {
    width: 85%;
    margin: 50px auto 50px auto;
    padding: 50px 0;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    border: 2px solid var(--primary-color); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Agrega una transición suave a la sombra y al zoom */
}


.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.resource-category {
    margin-bottom: 40px;
}

.resource-category h3 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.resource-category ul {
    list-style: none;
    padding: 0;
}

.resource-category ul li {
    margin-bottom: 10px;
}

.resource-category ul li a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.resource-category ul li a:hover {
    color: var(--tertiary-color);
}


/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}


.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a i{
    width: 40px;
    height: 40px;
}